<configuration packagingData="true">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="logback/json-appender.xml"/>
    <include resource="logback/file-appender.xml"/>
    <include resource="logback/console-appender.xml"/>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="SERVICE"/>
        </root>
        <logger additivity="false" lavel="INFO" name="com.example.blog.core.api.config.LoggingFilter">
            <appender-ref ref="JSON"/>
        </logger>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ERROR"/>
            <appender-ref ref="SERVICE"/>
        </root>
        <logger additivity="false" lavel="INFO" name="com.example.blog.core.api.config.LoggingFilter">
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>

</configuration>